html,
body {
  padding: 0;
  margin: 0;
  background-color: #000000;

}

.bgg {
  background: #0f1318;
  color: #7dd3fc;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

/* body {
  
} */

.equipcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.unequipbutton {
  height: 20px !important;
  padding: 5px !important;
}


.glassmorphism-toast {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 16px;
  color: rgba(255, 255, 255, 0.108);
}